<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BooksMySql" connectionString="Data Source=localhost;Initial Catalog=Books;Uid=root;Pwd=your_password;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>