section{
	border-radius: 10px;
	background: #EEEEEE;
	width: 400px;
	height: 530px;
	padding: 5px 10px;
	font-family: sans-serif;
}
section header h1{
	font-weight: lighter;
}
article{
	padding: 16px;
    height: 94px;
    width: 364;
    margin: 30px 0px 10px;
    background: #fff;
    font-size: 13px;
}
article, article img{
	border: 1px solid gray;
	
}
p{
	margin-top: 0px;
}
article img{
	float: left;
  	width: 152px;
  	margin-right: 15px;
  	border: 3px solid #808080;
}
button{
	float: right;
}
button{
	background: url("../imgs/btn.png") no-repeat;
	background-size: cover;
	height: 28px;
	text-align: center;
	color: #fff;
}
button{
	width: 70px;
}
.add-btn{
	width: 60px;
}